.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-2);
  padding: 30px;
  gap: 10px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h2 {
    font-size: var(--title-3);
    font-weight: 700;
  }
  p {
    font-size: var(--title-3);
    color: var(--color-primary);
    font-weight: 700;
  }
  span{
    font-size: 12px;
  }
}
